# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
out/

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# Java
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# Test output
test-output/
bin/
